/.bundle
/db/*.sqlite3
/log/*.log
/log/*.lck
/tmp
doc/
*.swp
*~
.project
.DS_Store
.idea
config/database.yml
public/uploads
public/images
public/safeguard
vendor/ruby
public/brakeman.html
config/secrets.yml
backup/*
db/schema.rb
