<div id='codeInsertionModal' class='modal'>
  <div class='modal-header'>
    <h3>Code Properties</h3>
  </div>
  <div class='modal-body'>

    <div class='control-group'>
      <label class='control-label'>No numbers:</label>

      <div class='controls'>
        <input class='no_numbers' type='checkbox'>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Language:</label>

      <div class='controls'>
        <input class='language' type='text' placeholder='ruby' value='ruby'>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Title:</label>

      <div class='controls'>
        <input class='title' type='text' placeholder='title_of_the_body'>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Link:</label>

      <div class='controls'>
        <input class='link' type='text' placeholder='http://'>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Highlight:</label>

      <div class='controls'>
        <input class='highlight' type='text' placeholder='10,12,15,20'>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Start from:</label>

      <div class='controls'>
        <input class='start_from' type='number' placeholder='10'>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
    <a href='#' class='clear btn'>Clear</a>
    <a href='#' class='cancel btn'>Cancel</a>
    <a href='#' class='save btn btn-primary'>Save!</a>
  </div>
</div>
