<h3>Уведомление о новых статьях на нашем сайте:</h3>
<i>Посетите наш сайт:</i> <%= root_url %>

<br>
<br>
<i>Если вы хотите отписаться от уведомлений - кликните по этой ссылке <%= link_to 'Отменить подписку', delete_notifier_subscriptions_url(email: @email) %>.</i>
