<div class='sidebar-box'>
  <div class='sidebar-title'>Подписка на рассылку</div>
  <hr>
  <p>
    Если вы хотите получать бесплатную рассылку о новых статьях выходящих на этом сайте - просто оставьте свой email аддрес.
  </p>

  <div class='email'>

    <%= form_for Subscription.new do |f| %>
      <%= f.label :email, 'Email: ' %>
      <%= f.email_field :email, placeholder: 'some@gmail.com' %>
    <% end %>
  </div>
</div>
