<div id='content' class='content-col col'>
	<div id='post-index'>
		<div class='post-info'>
			<div class='date'>Июль 16, 2014</div>
			<div class='author'>
				<a href=''>No Original</a>
			</div>
		</div>
		<article class='post'>
			<div class='title'>
				<a href='#'>MODULUS ACQUIRED BY PROGRESS SOFTWARE</a>
				<div class='comments'>
					<div class='diget'>3</div>
					<div class='img'><img src="assets/comments.png"></div>
				</div>
			</div>
			<div class='post-img'>
				<img src='assets/img1.png' alt=''>
			</div>
			<div class='summary'>
				<p>
					Over the last few months we’ve gotten to know TJ Fontaine, he’s a pretty rad dude…well he’s okay.
					Nah, he’s pretty great. See how confused we are about him? He’s a great guy with some amazing vision.
					We’ve enjoyed getting to know him so we thought you guys would love getting to know him.
					The below interview should help.
				</p>
			</div>
			<div class='read_mode'>
				<a href=''>Подробнее...</a>
			</div>
		</article>

		<div class='post-info'>
			<div class='date'>Июль 16, 2014</div>
			<div class='author'>
				<a href=''>Original</a>
			</div>
		</div>
		<article class='post'>
			<div class='title'>
				<a href='#'>NODE.JS PROJECT LEAD</a>
				<div class='comments'>
					<div class='diget'>15</div>
					<div class='img'><img src="assets/comments.png"></div>
				</div>
			</div>
			<div class='post-img'>
				<img src='assets/img2.png' alt=''>
			</div>
			<div class='summary'>
				<p>
					You may have noticed (or not) that we added the Twitter handle for each of our
					authors on the left hand side of a blog post. This happened just recently and
					while it by itself isn't a huge enhancement, however what happened behind the
					scenes is. On Monday, April 28th, we launched a new version of this blog using
					the power of Prismic and Node.js. This post will give a rundown of how this looks behind the scenes.
				</p>
			</div>
			<div class='read_mode'>
				<a href=''>Подробнее...</a>
			</div>
		</article>
	</div>

	<div class="pagination pagination-centered">
	  <ul>
	    <li class="active"><span>1</span></li>
	    <li><a href="?page=2">2</a></li>
	    <li><a href="?page=3">3</a></li>
	    <li><a href="?page=4">4</a></li>
	    <li><a href="?page=5">5</a></li>
	    <li><a href="?page=2">›</a></li>
	    <li><a href="?page=8">»</a></li>
	  </ul>
	</div>

</div>

<div id='sidebar' class='sidebar-col col'>
	<div class='sidebar-box'>
		<div class='sidebar-title'>Please note</div>
		<hr>
		<p>
			Modulus is a premier Node.js hosting platform that provides a complete technology stack for application developers. This includes custom SSL, WebSockets, MongoDB, statistics, and more.
		</p>
		<p>
			If you want to help - send some article to me...
		</p>
	</div>
	<div class='sidebar-box'>

		<div class='sidebar-title'> tags</div>
		<hr>
		<ul class='tags'>
			<li><a href='#'>middleware</a></li>
			<li><a href='#'>rails</a></li>
			<li><a href='#'>rack</a></li>
			<li><a href='#'>javascipt</a></li>
			<li><a href='#'>angular</a></li>
		</ul>
		<div class='clear'></div>
	</div>
	<div class='sidebar-box'>

		<div class='sidebar-title'>Relative Posts</div>
		<hr>

		<ul id='relative_posts'>
			<li class='small_post'>
				<a href='/blog/2014/01/01/austin/'>Austin</a>
			</li>

			<li class='small_post'>
				<a href='/blog/2013/02/04/refactoring-setInterval-polling/'>Refactoring setInterval-based polling</a>
			</li>

			<li class='small_post'>
				<a href='/blog/2013/01/18/onward/'>Onward</a>
			</li>

			<li class='small_post'>
				<a href='/blog/2012/12/10/js-conditionals/'>Two Things about Conditionals in JavaScript</a>
			</li>

			<li class='small_post'>
				<a href='/blog/2012/12/09/this-is-the-cigarette/'>This is the Cigarette</a>
			</li>
		</ul>
	</div>

	<div class='sidebar-box'>
		<div class='sidebar-title'>Подписка на рассылку</div>
		<hr>
		<p>
			The Modulus monthly newsletter brings you exclusive content only available
			to subscribers and the best Node.js material from around the web.
		</p>
		<div class='email'>
			<label for='email'>Email: </label>
			<input name='email' type='email' placeholder='some@gmail.com'>
		</div>
	</div>
</div>
<div class='clear'></div>
