default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost
  username: user_name
  password:

development:
  <<: *default
  database: best_transfer_development

test:
  <<: *default
  database: best_transfer_test
