<div class='post-info'>
  <div class='date'>Июль 16, 2014</div>
  <div class='author'>
    <a href=''>No Original</a>
  </div>
</div>

<article class='post'>
  <div class='title'>
    <a href='#'>MODULUS ACQUIRED BY PROGRESS SOFTWARE</a>
    <div class='comments'>
      <div class='diget'>3</div>
      <div class='img'>
        <%= image_tag 'comments.png' %>
      </div>
    </div>
  </div>

  <%= render 'posts/shared/tags' unless current_page?(root_path) %>
  <div class='clear'></div>

  <div class='post-img'>
    <%= image_tag 'img1.png' %>
  </div>
  <div class='summary'>
    <p>
      Over the last few months we’ve gotten to know TJ Fontaine, he’s a pretty rad dude…well he’s okay.
      Nah, he’s pretty great. See how confused we are about him? He’s a great guy with some amazing vision.
      We’ve enjoyed getting to know him so we thought you guys would love getting to know him.
      The below interview should help.
    </p>
  </div>

  <%= render 'posts/shared/show_more' if current_page?(root_path) %>
</article>
