<div id='sidebar' class='sidebar-col col'>
  <div class='sidebar-box'>
    <%= render 'posts/common/please_note' %>
  </div>

  <%= render partial: 'posts/common/tags', locals: { tags: tags } %>
  <%= render partial: 'shared/subscription_sidebar', locals: { last_id: @posts.last.id } %>

</div>
<div class='clear'></div>
