<div class='sidebar-title'>
  <%= link_to 'Мой уголок интернета', post_path(1) %>
</div>
<hr>
<p>
  Я должен вас предупредить, некоторые из моих выводов / идей могут быть плохим или вовсе ошибочными. Я буду публиковать код, материалы или статьи которые нахожу интересными, или просто те, которые мне понравились и я счел нужным перевести или опубликовать их.
</p>
<p>
  Если вы заметили ошибку либо заблуждение ...
</p>
