<div id='sidebar' class='sidebar-col col'>
  <div class='sidebar-box'>
    <%= render 'posts/common/please_note' %>
  </div>

  <%= render partial: 'posts/common/tags', locals: { posts: @tags } %>
  <%= render partial: 'posts/common/relative_posts', locals: { posts: @relative_posts } %>

  <div class='sidebar-box'>
    <div class='sidebar-title'>Подписка на рассылку</div>
    <hr>
    <p>
      The Modulus monthly newsletter brings you exclusive content only available
      to subscribers and the best Node.js material from around the web.
    </p>
    <div class='email'>
      <label for='email'>Email: </label>
      <input name='email' type='email' placeholder='some@gmail.com'>
    </div>
  </div>
</div>
