<div class='sidebar-box'>
  <div class='sidebar-title'>Tags</div>
  <hr>
  <ul class='tags'>
    <li><a href='#'>middleware</a></li>
    <li><a href='#'>rails</a></li>
    <li><a href='#'>rack</a></li>
    <li><a href='#'>javascipt</a></li>
    <li><a href='#'>angular</a></li>
  </ul>
  <div class='clear'></div>
</div>
