<div class='title'>
  <%= link_to article.title, post_path(article) %>
  <div class='comments'>
    <div class='diget'><%= comments_count(article) %></div>
    <div class='img'>
      <%= image_tag 'comments.png' %>
    </div>
  </div>
</div>
