<tr>
  <td><%= subscription.id %></td>
  <td><%= subscription.email %></td>
  <td>
    <%= link_to 'delete', subscription_path(subscription), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
  </td>
</tr>
