<%= render partial: 'posts/common/info', locals: { article: post } %>

<article class='post'>
  <%= render partial: 'posts/common/title', locals: { article: post } %>

  <div class='clear'></div>

  <%= render partial: 'posts/common/post_body', locals: { body: post.body_title } %>
  <%= render partial: 'posts/shared/show_more', locals: { article: post } %>
</article>
