<div id='content' class='content-col col'>
  <div id='post-index'>
    <%= render @posts %>
  </div>
  <%= render partial: 'posts/shared/paginator', locals: { posts: @posts } %>
</div>

<%= render partial: 'posts/common/index_sidebar', locals: { tags: @tags } %>
