<div id='sidebar' class='sidebar-col col'>
  <div class='sidebar-box'>
    <%= render 'posts/common/please_note' %>
  </div>

  <%= render partial: 'posts/index/tags', locals: { tags: tags } %>
  <%= render partial: 'posts/common/subscription_sidebar' %>
</div>
<div class='clear'></div>
